<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TimesheetManagement</servlet-name>
        <servlet-class>controller.TimesheetManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamsServlet</servlet-name>
        <servlet-class>controller.TeamsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamMembersServlet</servlet-name>
        <servlet-class>controller.TeamMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invitation</servlet-name>
        <servlet-class>controller.nghia.TeamInvitationManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTeamList</servlet-name>
        <servlet-class>controller.nghia.MyTeamList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamDetail</servlet-name>
        <servlet-class>controller.nghia.TeamDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTimesheet</servlet-name>
        <servlet-class>controller.nghia.timesheet.AddTimesheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAndSearchTimesheet</servlet-name>
        <servlet-class>controller.nghia.timesheet.ViewAndFilterMyTimesheetListForStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimesheet</servlet-name>
        <servlet-class>controller.nghia.timesheet.DeleteTimesheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTimesheet</servlet-name>
        <servlet-class>controller.nghia.timesheet.UpdateTimesheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailTimesheet</servlet-name>
        <servlet-class>controller.nghia.timesheet.ViewDetailTimesheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllInvitationSentToMe</servlet-name>
        <servlet-class>controller.nghia.invitation.ViewAllInvitationSentToMe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyInvitation</servlet-name>
        <servlet-class>controller.nghia.invitation.ReplyInvitation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimesheetManagement</servlet-name>
        <url-pattern>/TimesheetManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamsServlet</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamMembersServlet</servlet-name>
        <url-pattern>/teamMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invitation</servlet-name>
        <url-pattern>/Invitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTeamList</servlet-name>
        <url-pattern>/MyTeamList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamDetail</servlet-name>
        <url-pattern>/nghia/TeamDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTimesheet</servlet-name>
        <url-pattern>/AddTimesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAndSearchTimesheet</servlet-name>
        <url-pattern>/ViewAndSearchTimesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimesheet</servlet-name>
        <url-pattern>/DeleteTimesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTimesheet</servlet-name>
        <url-pattern>/UpdateTimesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailTimesheet</servlet-name>
        <url-pattern>/ViewDetailTimesheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllInvitationSentToMe</servlet-name>
        <url-pattern>/ViewAllInvitationSentToMe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyInvitation</servlet-name>
        <url-pattern>/ReplyInvitation</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TaskReviewController</servlet-name>
        <servlet-class>controller.TaskReview.TaskReviewController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TaskReviewController</servlet-name>
        <url-pattern>/task-review</url-pattern>
    </servlet-mapping>
</web-app>
