<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TimesheetManagement</servlet-name>
        <servlet-class>controller.TimesheetManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamsServlet</servlet-name>
        <servlet-class>controller.TeamsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamMembersServlet</servlet-name>
        <servlet-class>controller.TeamMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invitation</servlet-name>
        <servlet-class>controller.nghia.InvitationManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTeamList</servlet-name>
        <servlet-class>controller.nghia.MyTeamList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamDetail</servlet-name>
        <servlet-class>controller.nghia.TeamDetail</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>TimesheetManagement</servlet-name>
        <url-pattern>/TimesheetManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamsServlet</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamMembersServlet</servlet-name>
        <url-pattern>/teamMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invitation</servlet-name>
        <url-pattern>/Invitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTeamList</servlet-name>
        <url-pattern>/MyTeamList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamDetail</servlet-name>
        <url-pattern>/nghia/TeamDetail</url-pattern>
    </servlet-mapping>
    
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
